@import './lib/_constants.css.scss';

/* CSS declarations go here */
@import '_layout.css.scss';

@import './components/_toasts.css.scss';


$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

.md-tile-left {
  min-width: 56px;
  margin-right: -16px;
}

.md-tile-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  text-overflow: ellipsis;
}

.md-tile-content h3 {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: 1.1em;
}

.md-tile-content h4 {
  margin: 0 0 3px 0;
  font-weight: 400;
  font-size: 0.9em;
}

.md-tile-content p {
  margin: 0 0 3px 0;
  font-size: 0.75em;
}


md-item-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  padding: 0;
}
