<div layout="row" ng-if="members.length">
  <md-content class="inset">
    <h2 class="push-bottom-none">Members</h2>
  </md-content>
</div>
<md-button
    class="md-fab md-fab-bottom-right"
    aria-label="Add"
    ng-click="openAddMemberDialog()">
  <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
  <md-tooltip md-direction="top">Add Member</md-tooltip>
</md-button>
<md-card ng-if="members.length">
  <md-card-content>
    <section id="members">
      <md-list>
        <md-item ng-repeat="member in members">
          <md-item-content class="position-relative">
            <div class="md-tile-left inset" hide-sm>
              <md-button class="md-fab">
                {{member | initials}}
              </md-button>
            </div>
            <div class="md-tile-content">
              <h3 class="member-name">
                {{member.profile.firstName}} {{member.profile.lastName}}
              </h3>
              <h4 class="member-email" ng-repeat="email in member.emails">
                {{email.address}}
              </h4>
              <p class="member-status-pending"
                 style="color: red;"
                 ng-show="!member.invited && !member.emails[0].verified">
                Pending
              </p>
              <p class="member-status-verified"
                 style="color: green;"
                 ng-show="member.emails[0].verified">
               Verified
              </p>

              <div class="md-secondary">
                <md-button
                    class="md-fab md-mini md-hue-3 delete-member"
                    ng-click="deleteUser($event, member)"
                    aria-label="Delete User">
                  <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
                  <md-tooltip> Delete </md-tooltip>
                </md-button>
              </div>
            </div>
          </md-item-content>
          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
        </md-item>
      </md-list>
    </section>
  </md-card-content>
</md-card>
