<section id="members">
  <div layout="row" layout-align="end center">
    <md-button class="md-fab"
               style="margin-right: 16px;"
               ng-click="openAddMemberDialog()"
               aria-label="Add member">
      <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
      <md-tooltip md-direction="left"> Add Member </md-tooltip>
    </md-button>
  </div>
    
  <md-list>
    <md-list-item
        class="md-3-line position-relative"
        ng-repeat="member in members"
        layout="row">

      <div class="md-list-item-text" flex="70">
        <h3>{{member.profile.firstName}} {{member.profile.lastName}}</h3>
        <h4 ng-repeat="email in member.emails">{{email.address}}</h4>

        <p ng-show="!member.invited && !member.emails[0].verified">
          Unverified
        </p>

        <p ng-show="member.emails[0].verified">Verified</p>
      </div>

      <div flex="30" class="md-secondary">
        <md-button
            class="md-fab md-mini md-warn"
            ng-click="deleteUser($event, member)"
            aria-label="Delete User">
          <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
          <md-tooltip> Delete </md-tooltip>
        </md-button>
      </div>

      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</section>
