@import '../../lib/_constants.css.scss'

#pricing
  .price-tier-title
    height: 50px
    text-align: center
    margin-top: 0

  .price-tier-index-fab
    width: 36px
    height: 0
    line-height: 0
    margin: 2px $spacing_xxs 0 0


  .price-selector-input
    margin: 0 auto
    min-height: 100px
    width: 75%
    text-align: center

  .price-selector-actions
    margin: auto

  .price-selector-btn
    height: 63px

  .extras-list
    .extras-list-input
      width: 100%
      padding: 0

    md-input-container
      label
        margin-left: 0

      input
        font-size: 14px


  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none;
    margin: 0;
