@import '../../lib/_constants.css.scss'

#pricing
  .card-container
    background-color: #f5f5f5

  .price-tier-card
    position: relative
    margin: 0

  .price-tier-title
    height: 50px
    text-align: center
    margin-top: 0
    margin-bottom: 0

  .price-tier-index-fab
    width: 36px
    height: 0
    line-height: 0
    margin: 2px $spacing_xxs 0 0

  .price-input-container
    margin: 0 auto
    width: 50%
    min-width: 100px
