@import '../../lib/_constants.css.scss'

#pricing
  .price-tier-card
    margin-top: 1px
    
  .price-tier-card-content
    background-color: #f5f5f5

  .price-tier-column
    position: relative
    margin: 0

  .price-tier-title
    height: 50px
    text-align: center
    margin-top: 0
    margin-bottom: 0

  .price-input-container
    margin: 0 auto
    width: 50%
    min-width: 100px
