<md-dialog aria-label="Add Member">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Member</h2>
      <span flex></span>
      <md-button class="md-icon-button">
        <md-icon
            ng-click="close()"
            md-svg-icon="content:ic_clear_24px"
            aria-label="Close dialog">
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <form name="memberForm">
      <div layout layout-sm="column">
        <md-icon
            md-svg-icon="social:ic_person_outline_24px"
            class="push-right-xs">
        </md-icon>
        <md-input-container flex>
          <label>First name</label>
          <input id="first-name-field"
                 type="text"
                 name="firstName"
                 ng-model="newMember.firstName"
                 aria-label="first name" />

        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input id="last-name-field"
                 type="text"
                 name="lastName"
                 ng-model="newMember.lastName"
                 aria-label="last name" />
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <md-icon
            md-svg-icon="content:ic_mail_24px"
            class="push-right-xs">
        </md-icon>
        <md-input-container flex>
        <label>Email</label>
        <input id="email-field"
               type="email"
               required
               name="email"
               ng-model-options="{ debounce: { 'default': 100, 'blur': 0 } }"
               ng-model="newMember.email"
               aria-label="email" />

          <div ng-messages="memberForm.email.$error">
            <div ng-message="required">This is required.</div>
          </div>
          <div ng-messages="memberForm.email.$error">
            <div ng-message="email">The address you entered is not valid.</div>
          </div>
        </md-input-container>
      </div>
      
    </form>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button
        id="add-member"
        ng-click="add(newMember)"
        ng-disabled="submitDisabled()"
        class="md-primary">
       Add
    </md-button>
  </div>

</md-dialog>