<section id="members">
  <div layout="row">
    <md-button class="md-fab md-secondary"
               ng-click="openAddMemberDialog()"
               aria-label="Add member">
      <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
    </md-button>
  </div>
    
  <md-list>
    <md-list-item
        class="md-3-line position-relative"
        ng-repeat="member in members"
        layout="row">

      <div class="md-list-item-text">
        <div class="md-2-line" flex="70">
          {{member.profile.firstName}} {{member.profile.lastName}}
          <p ng-repeat="email in member.emails">{{email.address}}</p>
        </div>

        <div flex="30">
          <p class="md-secondary"
             ng-show="!member.invited && !member.emails[0].verified">
            Unverified
          </p>
          <p class="md-secondary"
             ng-show="member.emails[0].verified">
            Verified
          </p>
        </div>

      </div>
    </md-list-item>
  </md-list>
</section>
