<section id="members">
  <form layout="row" name="newMemberForm">
    <md-input-container>
      <input type="text"
             ng-model="newMember.firstName"
             placeholder="first name"
             aria-label="first name" />
    </md-input-container>
    <md-input-container>
      <input type="text"
             ng-model="newMember.lastName"
             placeholder="last name"
             aria-label="last name" />
    </md-input-container>
    <md-input-container>
      <input type="text"
             ng-model="newMember.email"
             placeholder="email"
             aria-label="email" />
    </md-input-container>

    <md-button class="md-secondary md-primary"
               ng-click="addMember(newMember)"
               aria-label="add">
      Add member
    </md-button>
  </form>
  <md-list>
    <md-list-item class="md-3-line position-relative" ng-repeat="member in members">
      <div class="md-list-item-text">
        {{member.profile.firstName}} {{member.profile.lastName}}
        <p ng-repeat="email in member.emails">
          {{email.address}}

          <span class="md-2-line">
            <span class="md-secondary"
                  ng-show="!member.invited && !member.emails[0].verified">
              Unverified
            </span>
            <span class="md-secondary"
                  ng-show="member.emails[0].verified">
              Verified
            </span>

          </span>
        </p>
      </div>
    </md-list-item>
  </md-list>
</section>
