//==============================================================================
// Pad all around
//==============================================================================
.pad-none { padding: 0 !important; }
.pad-xxs { padding: $spacing_xxs !important; }
.pad-xs { padding: $spacing_xs !important; }
.pad-sm { padding: $spacing_sm !important; }
.pad { padding: $spacing !important; }
.pad-lg { padding: $spacing_lg !important; }
.pad-xl { padding: $spacing_xl !important; }
.pad-xxl { padding: $spacing_xxl !important; }

//==============================================================================
// Pad top around
//==============================================================================
.pad-top-none       { padding-top: 0 !important; }
.pad-top-xxs       { padding-top: $spacing_xxs !important; }
.pad-top-xs        { padding-top: $spacing_xs !important; }
.pad-top-sm        { padding-top: $spacing_sm !important; }
.pad               { padding-top: $spacing !important; }
.pad-top-lg        { padding-top: $spacing_lg !important; }
.pad-top-xl        { padding-top: $spacing_xl !important; }
.pad-top-xxl       { padding-top: $spacing_xxl !important; }

//==============================================================================
// Pad right around
//==============================================================================
.pad-right-none       { padding-right: 0 !important; }
.pad-right-xxs       { padding-right: $spacing_xxs !important; }
.pad-right-xs        { padding-right: $spacing_xs !important; }
.pad-right-sm        { padding-right: $spacing_sm !important; }
.pad                 { padding-right: $spacing !important; }
.pad-right-lg        { padding-right: $spacing_lg !important; }
.pad-right-xl        { padding-right: $spacing_xl !important; }
.pad-right-xxl       { padding-right: $spacing_xxl !important; }

//==============================================================================
// Pad boottom around
//==============================================================================
.pad-bottom-none       { padding-bottom: 0 !important; }
.pad-bottom-xxs       { padding-bottom: $spacing_xxs !important; }
.pad-bottom-xs        { padding-bottom: $spacing_xs !important; }
.pad-bottom-sm        { padding-bottom: $spacing_sm !important; }
.pad                  { padding-bottom: $spacing !important; }
.pad-bottom-lg        { padding-bottom: $spacing_lg !important; }
.pad-bottom-xl        { padding-bottom: $spacing_xl !important; }
.pad-bottom-xxl       { padding-bottom: $spacing_xxl !important; }

//==============================================================================
// Pad left around
//==============================================================================
.pad-left-none { padding-left: 0 !important; }
.pad-left-xxs { padding-left: $spacing_xxs !important; }
.pad-left-xs { padding-left: $spacing_xs !important; }
.pad-left-sm { padding-left: $spacing_sm !important; }
.pad { padding-left: $spacing !important; }
.pad-left-lg { padding-left: $spacing_lg !important; }
.pad-left-xl { padding-left: $spacing_xl !important; }
.pad-left-xxl { padding-left: $spacing_xxl !important; }
