//==============================================================================
// Push all around
//==============================================================================
@mixin push-0-auto { margin: 0 auto; }
.push-0-auto       { @include push-0-auto; }

@mixin push-none { margin: 0 }
.push-none       { @include push-none; }

@mixin push-xss  { margin: $spacing_xxs; }
.push-xxs        { @include push-xss; }

@mixin push-xs   { margin: $spacing_xs; }
.push-xs         { @include push-xs;  }

@mixin push-sm   { margin: $spacing_sm; }
.push-sm         { @include push-sm;  }

@mixin push      { margin: $spacing; }
.push            { @include push;    }

@mixin push-lg   { margin: $spacing_lg; }
.push-lg         { @include push-lg; }

@mixin push-xl   { margin: $spacing_xl; }
.push-xl         { @include push-xl; }

@mixin push-xxl  { margin: $spacing_xxl; }
.push-xxl        { @include push-xxl; }

//==============================================================================
// Push top
//==============================================================================
@mixin push-top-none { margin-top: 0 !important; }
.push-top-none       { @include push-top-none; }

@mixin push-top-xxs  { margin-top: $spacing_xxs !important; }
.push-top-xxs        { @include push-top-xxs; }

@mixin push-top-xs   { margin-top: $spacing_xs !important; }
.push-top-xs         { @include push-top-xs; }

@mixin push-top-sm   { margin-top: $spacing_sm !important; }
.push-top-sm         { @include push-top-sm; }

@mixin push-top      { margin-top: $spacing !important; }
.push-top            { @include push-top; }

@mixin push-top-lg   { margin-top: $spacing_lg !important; }
.push-top-lg         { @include push-top-lg; }

@mixin push-top-xl   { margin-top: $spacing_xl !important; }
.push-top-xl         { @include push-top-xl; }

@mixin push-top-xxl  { margin-top: $spacing_xxl !important; }
.push-top-xxl        { @include push-top-xxl; }

//==============================================================================
// Push right
//==============================================================================
@mixin push-right-none { margin-right: 0 !important; }
.push-right-none       { @include push-right-none; }

@mixin push-right-xxs  { margin-right: $spacing_xxs !important; }
.push-right-xxs        { @include push-right-xxs; }

@mixin push-right-xs   { margin-right: $spacing_xs !important; }
.push-right-xs         { @include push-right-xs; }

@mixin push-right-sm   { margin-right: $spacing_sm !important; }
.push-right-sm         { @include push-right-sm; }

@mixin push-right      { margin-right: $spacing !important; }
.push-right            { @include push-right; }

@mixin push-right-lg   { margin-right: $spacing_lg !important; }
.push-right-lg         { @include push-right-lg; }

@mixin push-right-xl   { margin-right: $spacing_xl !important; }
.push-right-xl         { @include push-right-xl; }

@mixin push-right-xxl  { margin-right: $spacing_xxl !important; }
.push-right-xxl        { @include push-right-xxl; }

//==============================================================================
// Push bottom
//==============================================================================
@mixin push-bottom-none { margin-bottom: 0 !important; }
.push-bottom-none       { @include push-bottom-none; }

@mixin push-bottom-xxs  { margin-bottom: $spacing_xxs !important; }
.push-bottom-xxs        { @include push-bottom-xxs; }

@mixin push-bottom-xs   { margin-bottom: $spacing_xs !important; }
.push-bottom-xs         { @include push-bottom-xs; }

@mixin push-bottom-sm   { margin-bottom: $spacing_sm !important; }
.push-bottom-sm         { @include push-bottom-sm; }

@mixin push-bottom      { margin-bottom: $spacing !important; }
.push-bottom            { @include push-bottom; }

@mixin push-bottom-lg   { margin-bottom: $spacing_lg !important; }
.push-bottom-lg         { @include push-bottom-lg; }

@mixin push-bottom-xl   { margin-bottom-xl: $spacing_xl !important; }
.push-bottom-xl         { @include push-bottom-xl; }

@mixin push-bottom-xxl  { margin-bottom-xxl: $spacing_xxl !important; }
.push-bottom-xxl        { @include push-bottom-xxl; }

//==============================================================================
// Push left
//==============================================================================
@mixin push-left-none { margin-left: 0 !important; }
.push-left-none       { @include push-left-none; }

@mixin push-left-xxs  { margin-left: $spacing_xxs !important; }
.push-left-xxs        { @include push-left-xxs; }

@mixin push-left-xs   { margin-left: $spacing_xs !important; }
.push-left-xs         { @include push-left-xs; }

@mixin push-left-sm   { margin-left: $spacing_sm !important; }
.push-left-sm         { @include push-left-sm; }

@mixin push-left      { margin-left: $spacing !important; }
.push-left            { @include push-left; }

@mixin push-left-lg   { margin-left: $spacing_lg !important; }
.push-left-lg         { @include push-left-lg; }

@mixin push-left-xl   { margin-left: $spacing_xl !important; }
.push-left-xl         { @include push-left-xl; }

@mixin push-left-xxl  { margin-left: $spacing_xxl !important; }
.push-left-xxl        { @include push-left-xxl; }
