<md-toolbar layout="row" layout-align="end center">
  <div class="md-toolbar-tools">
    <div flex="70">
      <md-button
          class="md-icon-button push-none pad-none"
          ng-click="toggleSidenav('left')"
          md-component-id="left-sidenav"
          hide-gt-sm>
        <md-icon aria-label="Menu" md-svg-icon="navigation:ic_menu_24px"></md-icon>
      </md-button>

      <h1 id="site-title">Boxify</h1>
    </div>

    <div flex="30">
      <div ng-include="'client/layouts/_login-buttons.ng.html'"></div>
    </div>
  </div>
</md-toolbar>
