<md-content layout="row" class="push-top">
  <span flex></span>
  <md-whiteframe layout="column" flex="50">
    <div ng-show="rc.error" class="md-warn">
      <small>{{ rc.error }}</small>
    </div>
    <form layout="column" novalidate>
      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
        <input type="name"
               required
               ng-model="rc.newBox.ownerName"
               placeholder="Your Name"
               aria-label="your name" />
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
        <input type="box"
               required
               ng-model="rc.newBox.name"
               placeholder="Box Name"
               aria-label="box name" />
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
        <input type="text"
               required
               ng-model="rc.credentials.email"
               placeholder="Email"
               aria-label="email" />
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
        <input type="password"
               required
               ng-model="rc.credentials.password"
               placeholder="Password"
               aria-label="password" />
      </md-input-container>

      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
        <input type="password"
               required
               ng-model="rc.credentials.passwordConfirm"
               placeholder="Confirm"
               aria-label="password" />
      </md-input-container>

      <md-button class="md-raised md-primary"
                 ng-click="rc.register()">
        Create Account
      </md-button>
    </form>
    <div layout="row" layout-align="end center">
      <a href="/login">Login</a>
    </div>
  </md-whiteframe>
  <span flex></span>
</md-content>