<md-dialog class="add-photo-dialog" flex="80">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add a Logo for Your Box</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <div ng-hide="image.imageSrc"
             ngf-drop
             ngf-select
             ngf-change="addImages($files)"
             ngf-drag-over-class="{
               accept:'dragover',
               reject:'dragover-err',
               delay:100
             }"
             class="drop-box"
             ngf-multiple="false"
             ngf-allow-dir="false"
             ngf-accept="'image/*'"
             ngf-drop-available="dropAvailable">
          <div>Click here to select image</div>
          <div>
            <strong>OR</strong>
          </div>
          <div ng-show="dropAvailable">You can also drop image to here</div>
        </div>
        <div ng-show="image.imageSrc" class="ng-crop-container">
          <h3>Great! Now edit & crop your image...</h3><br />
          <div class="crop-area">
            <img-crop
                 change-on-fly="true"
                 image="image.imageSrc"
                 result-image="image.myCroppedImage"
                 area-type="rectangle"
                 width="300"
                 height="125"
                 area-coords="myAreaCoords">
            </img-crop>
          </div>
            
        </div>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button
          ng-click="saveCroppedImage()"
          ng-disabled="!image.imageSrc"
          class="md-primary">
        Add Image
      </md-button>
      <md-button ng-click="answer()" class="md-warn">
        Cancel
      </md-button>
    </div>
  </form>
</md-dialog>