<div layout="row">
  <md-content class="inset">
    <h2>Pricing Tiers</h2>
  </md-content>
</div>

<div layout="column">
  <md-button
      class="md-fab md-fab-bottom-right"
      aria-label="Add"
      ng-click="addTier()">
    <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
    <md-tooltip md-direction="top">Add Tier</md-tooltip>
  </md-button>

  <section ng-repeat="tier in box.pricingTiers track by $index"
           class="position-relative">
    <md-card class="push-top-none push-bottom-none md-whiteframe-z1">
      <md-card-content
          layout="row"
          layout-fill
          class="pad-xs">
        <strong flex="90" class="pad-top-xs pad-left-xs pad-bottom-xs">
         {{tier.checkins}} Checkins
         <span ng-if="tier.timeframe && tier.timeframe != 'Select'"> per {{tier.timeframe}} </span>
         for ${{tier.price}}
       </strong>
       <div flex="10" class="">
        <md-button
            class="md-primary push-none"
            ng-click="toggleEditing(tier);"
            style="min-width: 1px;">
          <md-icon
              md-svg-icon="editor:ic_mode_edit_24px"
              aria-label="Edit tier">
          </md-icon>
        </md-button>
        <md-button
            class="push-none"
            ng-click="deleteTier(tier)"
            style="min-width: 1px;">
          <md-icon
              md-svg-icon="action:ic_delete_24px"
              aria-label="Edit tier">
          </md-icon>
        </md-button>
       </div>

     </md-card-content>
    </md-card>

   <div layout="row" layout-fill layout-padding ng-if="tier.editing">
     <div price-tier-form></div>
   </div>
  </section>
</div>
